<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.bankbackend.mapper.CustomerMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="userid">
        insert into userinfo (userName, PID, gender, telephone, address, imageUrl, role, account, password, create_time,
                              update_time)
        values (#{username}, #{pid}, #{gender}, #{telephone}, #{address}, #{imageurl}, #{role}, #{account}, #{password},
                #{createTime}, #{updateTime})
    </insert>
    <update id="update">
        update userinfo
        <set>
            <if test="username != null">userName = #{username},</if>
            <if test="pid != null">PID = #{pid},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="telephone != null">telephone = #{telephone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="imageurl != null">imageUrl = #{imageurl},</if>
            <if test="role != null">role = #{role},</if>
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where userId = #{userid}
    </update>

    <delete id="deleteById">
        delete
        from userinfo
        where userid = #{id}
    </delete>

    <select id="pageQuery" parameterType="com.king.bankbackend.model.dto.CustomerQueryDTO"
            resultType="com.king.bankbackend.model.vo.CustomerQueryVO">
        select * from userinfo
        <where>
            <if test="customerQueryDTO.username != null and customerQueryDTO.username != ''">
                and userName like concat('%', #{customerQueryDTO.username}, '%')
            </if>
            <if test="customerQueryDTO.pid != null and customerQueryDTO.pid != ''">
                and PID like concat('%', #{customerQueryDTO.pid}, '%')
            </if>
            <if test="customerQueryDTO.gender != null and customerQueryDTO.gender != ''">
                and gender like concat('%', #{customerQueryDTO.gender}, '%')
            </if>
            <if test="customerQueryDTO.account != null and customerQueryDTO.account != ''">
                and account like concat('%', #{customerQueryDTO.account}, '%')
            </if>
            <if test="customerQueryDTO.role != null and customerQueryDTO.role != ''">
                and role like concat('%', #{customerQueryDTO.role}, '%')
            </if>

            <if test="beginDateTime != null">
                and create_time &gt;= #{beginDateTime}
            </if>
            <if test="endDateTime != null">
                and create_time &lt;= #{endDateTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
